/* body {
	background: linear-gradient(-45deg, #e76f51, #f4a261, #e9c46a, #2a9d8f, #264653);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */
body {
	background: #F7B267;
}